<head id ="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Color Slider</title>
</head>
<body id = "body">
    <div class="wrap">
        <header>
        </header>
        <main>
            <div class="color-slider-wrap">
                <div class="color-wrap">
                    <div id="color-display"></div>
                </div>
                <div class="sliders">
								<form action="/action_page.php">
  Select a file: <input type="file" name="myFile"><br><br>
  <input type="submit">
</form>
                    <div>
                        <label for="red">Red</label>
                        <span hidden><input value="number" id="redNum"></span>
                        <input value="200" type="range" min="0" max="255" id="red">
                    </div>
                    <div>
                        <label for="green">Green</label>
                        <span hidden><input value="number" id="greenNum"></span>
                        <input value="130" type="range" min="0" max="255" id="green">
                    </div>
                    <div>
                        <label for="blue">Blue</label>
                        <span hidden><input value="number" id="blueNum"></span>
                        <input value="180" type="range" min="0" max="255" id="blue">
                    </div>
                </div>
            </div>
            <button onclick="selectColor1()" class="button" style="vertical-align:middle"><span>Apply color 1</span></button>
            <button onclick="selectColor2()" class="button" style="vertical-align:middle"><span>Apply color 2</span></button>
        </main>
    </div>
    <script src="main.js"></script>
</body>
